<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP 信息维护</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            color: #333;
        }
        .container {
            background-color: #ffffff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        .btn-custom {
            background-color: #6c757d;
            color: white;
        }
        .btn-info{
            margin-left: 20px
        }
        .form-control {
            border-radius: 5px;
        }
        .pagination .page-link {
            color: #6c757d;
        }
        .pagination .page-item.disabled .page-link {
            color: #ccc;
        }
        td,th{
            text-align: center;
            line-height: 40px;
        }

    </style>
</head>
<body>

<div id="app" class="container mt-4">
    <h2>IP 信息维护</h2>
    <div>
    <!-- 新增 IP 信息按钮 -->
    <button @click="openModal" class="btn btn-custom mb-3">新增 IP</button>

    <!-- 批量导入数据按钮 -->
    <button @click="openBatchImportModal" class="btn btn-info mb-3">批量导入 IP</button>

    <!-- 批量删除数据按钮 -->
    <button @click="delDataHandler" class="btn btn-info mb-3">批量删除 IP</button>

    <!-- 下载融合配置文件按钮 -->
    <button v-if="showDownloadButton" @click="downloadMergedConfig" class="btn btn-primary mb-3 float-end me-2">下载融合配置文件</button>

    <!-- 生成 Clash 配置文件按钮 -->
    <button @click="openClashModal" class="btn btn-success mb-3 float-end">生成 Clash 配置</button>

    </div>

    <!-- 新增/编辑 IP 信息表单（弹出式模态框） -->
    <div class="modal fade" id="ipModal" tabindex="-1" aria-hidden="true" v-if="isIpModalVisible"
         :class="['modal', 'fade', { 'show': isIpModalVisible }]"
         style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ isEditing ? '修改 IP' : '新增 IP' }}</h5>
                    <button type="button" class="btn-close" @click="closeIpModal" aria-label="关闭"></button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="saveIp">
                        <div class="mb-2">
                            <input v-model="form.ipAddress" class="form-control" placeholder="IP 地址" required>
                        </div>
                        <div class="mb-2">
                            <input v-model="form.port" class="form-control" placeholder="端口" required>
                        </div>
                        <div class="mb-2">
                            <input v-model="form.username" class="form-control" placeholder="用户名" required>
                        </div>
                        <div class="mb-2">
                            <input v-model="form.password" class="form-control" placeholder="密码" required>
                        </div>
                        <div class="mb-2">
                            <input v-model="form.connectionType" class="form-control" placeholder="连接类型" required>
                        </div>
                        <div class="mb-2">
                            <input v-model="form.country" class="form-control" placeholder="国家">
                        </div>
                        <!-- 排序字段 -->
                        <div class="mb-2">
                            <input v-model="form.sortOrder" class="form-control" placeholder="排序" type="number">
                        </div>
                        <button type="submit" class="btn btn-primary">{{ isEditing ? '修改' : '保存' }}</button>
                        <button type="button" class="btn btn-secondary ms-2" @click="closeIpModal">取消</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 批量导入 IP 信息弹出式模态框 -->
    <div class="modal fade" id="batchImportModal" tabindex="-1" aria-hidden="true" v-if="isBatchImportModalVisible"
         :class="['modal', 'fade', { 'show': isBatchImportModalVisible }]"
         style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">批量导入 IP 信息</h5>
                    <button type="button" class="btn-close" @click="closeBatchImportModal" aria-label="关闭"></button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="batchSave">
                        <div class="mb-2">
                            <textarea v-model="batchData" class="form-control" rows="5" placeholder="请按照以下示例格式输入数据，每行一个IP：160.84.119.43:6828:Cirtolyfnv:1wiMkNaxZ6:socket5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">批量保存</button>
                        <button type="button" class="btn btn-secondary ms-2" @click="closeBatchImportModal">取消</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 生成 Clash 配置文件模态框 -->
    <div class="modal fade" id="clashModal" tabindex="-1" aria-hidden="true" v-if="isClashModalVisible"
         :class="['modal', 'fade', { 'show': isClashModalVisible }]"
         style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">生成 Clash 配置文件</h5>
                    <button type="button" class="btn-close" @click="closeClashModal" aria-label="关闭"></button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="generateConfig">
                        <div class="mb-2">
                            <label for="clashLink" class="form-label">Clash 订阅链接</label>
                            <input v-model="clashForm.link" class="form-control" id="clashLink" placeholder="输入 Clash 订阅链接">
                        </div>
                        <div class="mb-2">
                            <label for="clashFile" class="form-label">上传 Clash YAML 文件</label>
                            <input type="file" @change="handleFileUpload" class="form-control" id="clashFile">
                        </div>
                        <div class="mb-2">
                            <label for="startPort" class="form-label">起始端口</label>
                            <input v-model="clashForm.startPort" class="form-control" id="startPort" placeholder="起始端口" type="number" value="7901">
                        </div>
                        <button type="submit" class="btn btn-primary">生成配置文件</button>
                        <button type="button" class="btn btn-secondary ms-2" @click="closeClashModal">取消</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- IP 信息列表 -->
    <table class="table mt-4">
        <thead>
        <tr>
            <th><input type="checkbox" v-model="allChecked" @change="allCheckChange"/> 全选</th>
            <th>IP 地址</th>
            <th>端口</th>
            <th>用户名</th>
            <th>连接类型</th>
            <th>国家</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="ip in ipInfos.content" :key="ip.id">
            <td>
                <input type="checkbox" :value="ip.id" v-model="checkBoxValues" @change="judgeAllCheck"/>
            </td>
            <td>{{ ip.ipAddress }}</td>
            <td>{{ ip.port }}</td>
            <td>{{ ip.username }}</td>
            <td>{{ ip.connectionType }}</td>
            <td>{{ ip.country || 'N/A' }}</td>
            <td>{{ ip.sortOrder || '未设置' }}</td>
            <td>
                <button @click="editIp(ip)" class="btn btn-warning btn-sm me-2">编辑</button>
                <button @click="deleteIp(ip.id)" class="btn btn-danger btn-sm">删除</button>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- 分页 -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item" :class="{'disabled': pageParam.pageNum === 1}">
                <button class="page-link" @click="changePage(pageParam.pageNum - 1)">上一页</button>
            </li>
            <li class="page-item">
                <span class="page-link">{{ pageParam.pageNum }}</span>
            </li>
            <li class="page-item" :class="{'disabled': ipInfos.last}">
                <button class="page-link" @click="changePage(pageParam.pageNum + 1)">下一页</button>
            </li>
        </ul>
    </nav>
</div>

<script>
    const { createApp, ref, onMounted } = Vue;

    createApp({
        setup() {
            const ipInfos = ref({});
            const form = ref({ id: null, ipAddress: "", port: "", username: "", password: "", connectionType: "socket5", country: "", sortOrder: null });
            const batchData = ref("");  // 批量导入的原始数据
            const pageParam = ref({ isPaging: true, pageNum: 1, pageSize: 8 });
            const isEditing = ref(false);
            const checkBoxValues = ref([]);
            const allChecked = ref(false);
            // 控制模态框显示
            const isIpModalVisible = ref(false);
            const isBatchImportModalVisible = ref(false);
            const isClashModalVisible = ref(false);

            // Clash 配置表单
            const clashForm = ref({
                link: "",
                file: null,
                startPort: 7901
            });

            // 下载融合配置文件相关
            const showDownloadButton = ref(false); // 是否显示下载按钮

            // 检查文件是否存在
            const checkFileExists = () => {
                axios.get("/ipinfo/check-file")
                    .then(response => {
                        showDownloadButton.value = response.data !== ""; // 如果文件存在，显示按钮
                    })
                    .catch(error => {
                        console.error("检查文件是否存在失败：", error);
                    });
            };

            // 下载融合配置文件
            const downloadMergedConfig = () => {
                window.location.href = "/ipinfo/download-file"; // 触发文件下载
            };

            // 加载数据
            const loadData = () => {
                axios.post("/ipinfo/list", pageParam.value).then(res => {
                    ipInfos.value = res.data;
                    // 判断数据获取时，是否选中
                    judgeAllCheck()
                });
            };

            // 查询 IP 信息
            const fetchIpById = (id) => {
                axios.get(`/ipinfo/query/${id}`).then(res => {
                    form.value = res.data;
                    isEditing.value = true;
                    isIpModalVisible.value = true;
                });
            };

            // 打开新增模态框
            const openModal = () => {
                form.value = { id: null, ipAddress: "", port: "", username: "", password: "", connectionType: "socket5", country: "", sortOrder: null };
                isEditing.value = false;
                isIpModalVisible.value = true;
            };

            // 打开批量导入模态框
            const openBatchImportModal = () => {
                batchData.value = ""; // 清空批量导入的数据
                isBatchImportModalVisible.value = true;
            };

            // 打开 Clash 配置模态框
            const openClashModal = () => {
                clashForm.value = { link: "", file: null, startPort: 7901 };
                isClashModalVisible.value = true;
            };

            // 关闭新增/编辑模态框
            const closeIpModal = () => {
                isIpModalVisible.value = false;
            };

            // 关闭批量导入模态框
            const closeBatchImportModal = () => {
                isBatchImportModalVisible.value = false;
            };

            // 关闭 Clash 配置模态框
            const closeClashModal = () => {
                isClashModalVisible.value = false;
            };

            // 处理文件上传
            const handleFileUpload = (event) => {
                clashForm.value.file = event.target.files[0];
            };

            // 生成 Clash 配置文件
            const generateConfig = () => {
                const formData = new FormData();
                if (clashForm.value.link) {
                    formData.append("link", clashForm.value.link);
                }
                if (clashForm.value.file) {
                    formData.append("file", clashForm.value.file);
                }
                formData.append("startPort", clashForm.value.startPort);

                axios.post("/ipinfo/generate", formData, {
                    headers: {
                        "Content-Type": "multipart/form-data"
                    }
                }).then(response => {
                    alert("配置文件生成成功！");
                    closeClashModal();
                    checkFileExists(); // 生成配置成功后，刷新下载按钮状态
                }).catch(error => {
                    alert("配置文件生成失败：" + error.message);
                });
            };



            // 批量保存
            const batchSave = () => {
                const ipList = batchData.value
                    .split("\n") // 按换行符分割
                    .map(line => line.trim()) // 去除每行的前后空格
                    .filter(line => line.length > 0) // 过滤掉空行
                    .map(line => {
                        const [ipAddress, port, username, password, connectionType = "socket5"] = line.split(":");
                        return { ipAddress, port, username, password, connectionType };
                    });
                axios.post("/ipinfo/batchSave", ipList).then(() => {
                    closeBatchImportModal();
                    loadData();
                });
            };

            // 保存 IP
            const saveIp = () => {
                axios.post("/ipinfo/save", form.value).then(() => {
                    closeIpModal();
                    loadData();
                });
            };

            // 删除 IP
            const deleteIp = (id) => {
                if (confirm('确定删除该 IP 信息吗？')) {
                    axios.delete(`/ipinfo/delete/${id}`).then(() => {
                        loadData();
                    });
                }
            };

            //全选监听

            const allCheckChange = (e)=> {
                const ipIdList = ipInfos.value.content.map(item=>item.id)
                if(e.target._modelValue){
                    checkBoxValues.value = Array.from(new Set(checkBoxValues.value.concat(ipIdList)))
                }else{
                    checkBoxValues.value = checkBoxValues.value.filter(item => !ipIdList.includes(item)) || [];
                }
            }

            // 监听当前选中，判断当前数据是否全选
            const judgeAllCheck = ()=>{
                if(!ipInfos.value.content.length){
                    allChecked.value = false
                }else{
                    allChecked.value = ipInfos.value.content.every(item=> checkBoxValues.value.includes(item.id))
                }

            }
            // 批量删除
            const delDataHandler = ()=>{
                if (confirm('确定删除这些 IP 信息吗？')) {
                    axios.post(`/ipinfo/deleteBatch`,checkBoxValues.value).then(() => {
                        pageParam.value.pageNum = 1;
                        loadData();
                        alert("批量删除成功！");
                    });
                }
            }

            // 编辑 IP
            const editIp = (ip) => {
                fetchIpById(ip.id);
            };

            // 改变分页
            const changePage = (page) => {
                pageParam.value.pageNum = page;
                loadData();
            };

            // 加载初始数据
            onMounted(() => {
                loadData();
                checkFileExists(); // 检查文件是否存在
            });

            return {
                ipInfos, form, batchData, pageParam, isEditing,
                isIpModalVisible, isBatchImportModalVisible, isClashModalVisible,
                clashForm, showDownloadButton, openModal, openBatchImportModal, openClashModal,
                closeIpModal, closeBatchImportModal, closeClashModal,
                handleFileUpload, generateConfig, saveIp, batchSave, deleteIp, editIp, changePage,
                downloadMergedConfig,
                checkBoxValues,allChecked,delDataHandler,allCheckChange,judgeAllCheck
            };
        }
    }).mount("#app");
</script>

</body>
</html>